{% extends 'base.html' %}
{% block title %}Inventory{% endblock %}

{% block content %}
<h1>Your Inventory</h1>

<a href="{{ url_for('inventory.add') }}">+ Add Item</a>

<ul>
    {% for item in items %}
        <li>
            <a href="{{ url_for('inventory.details', item_id=item['id']) }}">
                {{ item['name'] }} (x{{ item['quantity'] }})
            </a>
            <a href="{{ url_for('inventory.edit', item_id=item['id']) }}">Edit</a>
            <form action="{{ url_for('inventory.delete', item_id=item['id']) }}" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}

